<div class='page-header'>
    <h1 class='page-title'>Edit Mother</h1>
    <p class='page-description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat semper purus vitae facilisis. Sed faucibus lectus id dui vehicula, id condimentum ipsum aliquam.</p>
</div>
<div class='page-body'>
    <div class='row margin-bottom-50'>
        <div class='col-md-4 col-md-offset-8 col-sm-offset-6 col-sm-6'>
            <div class='btn-group btn-group-justified'>
                <a class='btn btn-primary' href='/#/mothers/{{mother._id}}/children'>Children</a>
                <a class='btn btn-primary' href='/#/mothers/{{mother._id}}/visits'>Visits</a>
                <a class='btn btn-primary' href='/#/match/{{mother._id}}'>Find Match</a>
            </div>
        </div>
    </div>
    <form name='editMother' novalidate="" ng-submit='update()'>
        <div class='form-group' ng-class="{'has-error': isFieldInvalid('firstName')}">
        <!-- Name -->
        <div class='row'>
            <div class='col-md-6'>
                <div class="form-group" ng-class="{'has-error': isFieldInvalid('firstName')}">
                    <label>First Name</label>
                    <input type='text' name='firstName' ng-required='true' class='form-control' ng-model='mother.firstName'/>
                </div>

            </div>
            <div class='col-md-6'>
                <div class="form-group" ng-class="{'has-error': isFieldInvalid('lastName')}">
                    <label>Last Name</label>
                    <input type='text' name='lastName' ng-required='true' class='form-control' ng-model='mother.lastName'/>
                </div>
            </div>

        </div>
        <div class='row form-group'>
            <div class='col-md-6'>
                <label>Nick Name</label>
                <input type='text' name='nickName' class='form-control' ng-model='mother.nickName'/>
            </div>
        </div>



        <div class='form-group row'>

            <div class='col-md-6'>
                <label>Birthdate</label>
                <input type='date' name='birthDate' ng-required='true' class='form-control' ng-model='mother.birthdate'/>
            </div>

            <div class='col-md-6'>
                <label>Ethnicity</label>
                <input type='text' name='ethnicity' class='form-control' ng-model='mother.ethnicity'/>
            </div>
        </div>

        <div class='form-group row'>
            <div class='col-md-6' ng-class="{'has-error': isFieldInvalid('email')}">
                <label>Email</label>
                <input type='email' name='email' class='form-control' ng-model='mother.email'/>
            </div>
            <div class='col-md-6' ng-class="{'has-error': isFieldInvalid('phone')}">
                <label>Phone</label>
                <input type='text' name='phone' ng-required='true' class='form-control' ng-model='mother.phone'/>
            </div>
        </div>

        <!-- Contact (Address) -->
        <fieldset class='margin-top-50'>
            <legend>Address</legend>
            <div class='form-group' ng-class="{'has-error': isFieldInvalid('line1')}">
                <label>Street</label>
                <input type='text' name='line1' ng-required='true' class='form-control' ng-model='mother.address.line1'/>
            </div>

            <div class='form-group'>
                <label>Street 2</label>
                <input type='text' name='line2' class='form-control' ng-model='mother.address.line2'/>
            </div>

            <div class='form-group row margin-top-20'>
                <div class='col-md-6'>
                    <label>County</label>
                    <input type='text' name='city' class='form-control' ng-model='mother.address.county'/>
                </div>
            </div>

            <div class='form-group row margin-top-20'>
                <div class='col-md-6' ng-class="{'has-error': isFieldInvalid('city')}">
                    <label>City</label>
                    <input type='text' name='city' ng-required='true' class='form-control' ng-model='mother.address.city'/>
                </div>
                <div class='col-md-4' ng-class="{'has-error': isFieldInvalid('state')}">
                    <label>State</label>
                    <select name='state' ng-model='mother.address.state' ng-required='true' ng-options='st.abbreviation as st.name for st in states' class='form-control'>
                        <option value=''>Select State</option>
                    </select>
                </div>
                <div class='col-md-2' ng-class="{'has-error': isFieldInvalid('zip')}">
                    <label>Zip</label>
                    <input type='text' name='zip' ng-required='true' class='form-control' ng-model='mother.address.zip'/>
                </div>
            </div>
            <div class='form-group row margin-top-20'>
                <div class='col-md-4' ng-class="{'has-error': isFieldInvalid('city')}">
                    <label>Latitude</label>
                    <input type='text' name='latitude' class='form-control' ng-model='mother.loc[0]'/>
                </div>
                <div class='col-md-4' ng-class="{'has-error': isFieldInvalid('state')}">
                    <label>Longitude</label>
                    <input type='text' name='longitude' class='form-control' ng-model='mother.loc[1]'/>
                </div>
                <div class='col-md-4' ng-class="{'has-error': isFieldInvalid('zip')}">
                    <label>&nbsp;</label><br/>
                    <a ng-disabled='!isValidAddress()' ng-click='findLatLng()' class='btn btn-info'>Find Latitude & Longitude</a>
                    <a href="http://www.latlong.net/" class='margin-left-10 btn btn-link' target="_blank">or use online tool</a>
                </div>
            </div>
        </fieldset>

        <!-- Emergency Contact -->
        <fieldset class='margin-top-50'>
            <legend>Emergency Contact</legend>
            <div class='form-group row' ng-class="{'has-error': isFieldInvalid('erFirstName')}">
                <div class='col-md-6'>
                    <label>First Name</label>
                    <input type='text' ng-required="true" name='erFirstName' class='form-control' ng-model='mother.emergencyContact.firstName'/>
                </div>

                <div class='col-md-6' ng-class="{'has-error': isFieldInvalid('erLastName')}">
                    <label>Last Name</label>
                    <input type='text' ng-required="true" name='erLastName' class='form-control' ng-model='mother.emergencyContact.lastName'/>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-md-6' ng-class="{'has-error': isFieldInvalid('erEmail')}">
                    <label>Email</label>
                    <input type='email' name='erEmail' class='form-control' ng-model='mother.emergencyContact.email'/>
                </div>
                <div class='col-md-6'>
                    <label>Phone</label>
                    <input type='text' name='erCellPhone' class='form-control' ng-model='mother.emergencyContact.phone'/>
                </div>
            </div>
        </fieldset>

        <fieldset class="margin-top-50">
            <legend>Service Information</legend>
            <div class='form-group row'>
                <div class='col-md-6'>
                    <label>Service Started</label>
                    <input type='date' name='serviceStarted' class='form-control' ng-model='mother.serviceStartedDate'/>
                </div>

                <div class='col-md-6'>
                    <label>Service Ended</label>
                    <input type='date' name='serviceEnded' class='form-control' ng-model='mother.serviceEndedDate'/>
                </div>
            </div>
        </fieldset>

        <fieldset class="margin-top-50">
            <legend>Communication</legend>

            <div class='form-group row'>
                <div class='col-md-12'>
                    <label>Availability</label>
                    <select ng-model='selectedAvailability'  ng-options='av.name for av in availabilityCodes' class='form-control'>
                        <option value=''>Select Availability</option>
                    </select>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-md-6'>
                    <label>Request for Services Date</label>
                    <input type='date' name='requestForServices' class='form-control' ng-model='mother.communication.requestForServices.sent'/>
                </div>

                <div class='col-md-6'>
                    <label>Response for Services Date</label>
                    <input type='date' name='responseForServices' class='form-control' ng-model='mother.communication.requestForServices.response'/>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-md-6'>
                    <label>Waiver Sent</label>
                    <input type='date' name='waiverSent' class='form-control' ng-model='mother.communication.waiver.sent'/>
                </div>

                <div class='col-md-6'>
                    <label>Waiver Response</label>
                    <input type='date' name='waiverResponse' class='form-control' ng-model='mother.communication.waiver.response'/>
                </div>
            </div>

        </fieldset>

        <!-- Additional Information -->
        <fieldset class='margin-top-50'>
            <legend>Additional Information</legend>

            <div class='form-group'>
                <label>Allergy Medications</label>
                <textarea rows='5' ng-model='mother.restrictions.medical' class='form-control'>

                </textarea>
                <span class='help-block'>A comma separated list of medical restrictions</span>
            </div>
            <div class='form-group'>
                <label>Allergy Restrictions</label>
                <textarea rows='5' ng-model='mother.restrictions.medical' class='form-control'>

                </textarea>
                <span class='help-block'>A comma separated list of allergies</span>
            </div>

            <div class='form-group'>
                <label>Pet Restrictions</label>
                <textarea rows='5' ng-model='mother.restrictions.medical' class='form-control'>

                </textarea>
                <span class='help-block'>A comma separated list of pet allergies</span>
            </div>

            <div class='form-group'>
                <label>Languages Spoken</label>
                <select ng-model='mother.languages' multiple ng-options='lang.abbr as lang.name for lang in langCodes' class='form-control'>

                </select>
                <div class='vertical-margin-5'>
                    <span class='label label-default margin-right-5' ng-repeat='lang in mother.languages'>{{getLanguageName(lang)}}&nbsp;</span>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-md-6'>
                    <label>Pediatrician</label>
                    <input type='text' name='pediatrician' class='form-control' ng-model='mother.pediatrician'/>
                </div>

            </div>
        </fieldset>


        <!--

            <fieldset class='margin-top-50'>
                <legend>Service Dates</legend>

                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Started </label>
                        <input type='text' name='serviceStart' class='form-control' ng-model='mother.serviceStartedDate'/>
                    </div>

                    <div class='col-md-6'>
                        <label>Ended</label>
                        <input type='text' name='serviceEnd' class='form-control' ng-model='mother.serviceEndedDate'/>
                    </div>
                </div>
            </fieldset>


            <fieldset class="margin-top-50">
                <legend>Communication</legend>

                <div class='form-group row'>
                    <div class='col-md-12'>
                        <label>Availability</label>
                        <select ng-model='selectedAvailability'  ng-options='av.name for av in availabilityCodes' class='form-control'>
                            <option value=''>Select Availability</option>
                        </select>
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Request for Services Date</label>
                        <input type='date' name='requestForServices' class='form-control' ng-model='mother.communication.requestForServices.sent'/>
                    </div>

                    <div class='col-md-6'>
                        <label>Response for Services Date</label>
                        <input type='date' name='responseForServices' class='form-control' ng-model='mother.communication.requestForServices.response'/>
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Waiver Sent</label>
                        <input type='date' name='waiverSent' class='form-control' ng-model='mother.communication.waiver.sent'/>
                    </div>

                    <div class='col-md-6'>
                        <label>Waiver Response</label>
                        <input type='date' name='waiverResponse' class='form-control' ng-model='mother.communication.waiver.response'/>
                    </div>
                </div>

            </fieldset>


            <fieldset class='margin-top-50'>
                <legend>Communications</legend>


                <div class='form-group row'>
                    <div class='col-md-2'>
                        <label>Availability</label>
                        <select ng-model='selectedAvailability'  ng-options='av.value as av.name for av in availabilityCodes' class='form-control'>
                            <option value=''>Select Availability</option>
                        </select>
                    </div>
                </div>

                <div class='form-group'>
                    <label>How did you find us?</label>
                    <textarea rows='5' ng-model='mother.howDidYouFind' class='form-control'>

                    </textarea>
                </div>

                <div class='form-group'>
                    <label>Referral Details</label>
                    <textarea rows='5' ng-model='mother.referralDetails' class='form-control'>

                    </textarea>
                </div>
            </fieldset>



            <fieldset class='margin-top-50'>
                <legend>Additional Information</legend>
                <div class='form-group'>
                    <label>Restrictions</label>
                    <textarea rows='5' ng-model='mother.restrictions' class='form-control'>

                    </textarea>
                    <span class='help-block'>A comma separated list of restrictions ex: Allergies, Locations, etc...</span>
                </div>

                <div class='form-group'>
                    <label>Languages Spoken</label>

                    <select ng-model='mother.languages' multiple ng-options='lang.abbr as lang.name for lang in langCodes' class='form-control'>

                    </select>
                    <div class='vertical-margin-5'>
                        <span class='label label-default margin-right-5' ng-repeat='lang in mother.languages'>{{getLanguageName(lang)}}&nbsp;</span>
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Pediatrician</label>
                        <input type='text' name='pediatrician' class='form-control' ng-model='mother.pediatrician'/>
                    </div>

                    <div class='col-md-6'>
                        <label>Ethnicity</label>
                        <input type='text' name='ethnicity' class='form-control' ng-model='mother.ethnicity'/>
                    </div>
                </div>
            </fieldset>
        -->
        <!-- Children -->
        <!--<fieldset class='margin-top-50'>-->
            <!--<legend>Children</legend>-->

            <!--<div class='form-group'>-->
                <!--<table class="table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Name</th>-->
                        <!--<th>Gender</th>-->
                        <!--<th>Age</th>-->
                        <!--<th>Receiving Services</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="child in mother.children">-->
                        <!--<td>{{ child.firstName }} {{ child.lastName }}</td>-->
                        <!--<td>{{ child.gender }}</td>-->
                        <!--<td>{{ child.age }}</td>-->
                        <!--<td>-->
                            <!--<input type="checkbox" ng-model="child.receivingServices" />-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->

        <!--</fieldset>-->

            <!-- Volunteers (Move) -->

            <!--<fieldset>-->
                <!--<legend>Volunteers</legend>-->
                <!--<div class='form-group row'>-->
                    <!--<div class='col-md-6'>-->
                        <!--<label>Primary Volunteer</label>-->
                        <!--<input name='primaryVolunteer' class='form-control' ng-model='mother.primaryVolunteer'/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</fieldset>-->

            <!-- Visits (Move to separate area) -->
            <!--<fieldset class='margin-top-50'>-->
                <!--<legend>Visits</legend>-->

                <!--<div class='form-group'>-->
                    <!--<table class="table">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Date</th>-->
                            <!--<th>Primary Volunteer</th>-->
                            <!--<th>Notes</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="visit in mother.visits">-->
                            <!--<td>{{ visit.startDate }}</td>-->
                            <!--<td>{{ child.volunteers[0] }}</td>-->
                            <!--<td>{{  }}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->

            <!--</fieldset>-->

        </div>




        <div class='form-actions'>
            <button class='btn btn-primary' ng-disabled='!isFormValid()'>Save Mother</button>
            <a class='btn btn-link margin-left-5' href="#/mothers">Cancel</a>
        </div>
    </form>
</div>
