<div class='page-header'>
    <h1 class='page-title'>Edit Mother</h1>
</div>
<div class='page-body'>
    <form name='editMother' novalidate="" ng-submit='update()'>
        <div class='form-group' ng-class='{"has-error": isFieldInvalid("firstName")}'>

            <!-- Name -->
            <div class='form-group row'>
                <div class='col-md-6'>
                    <label>First Name</label>
                    <input type='text' name='firstName' ng-required='true' class='form-control' ng-model='mother.firstName'/>
                </div>

                <div class='col-md-6'>
                    <label>Last Name</label>
                    <input type='text' name='lastName' ng-required='true' class='form-control' ng-model='mother.lastName'/>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-md-6'>
                    <label>Nick Name</label>
                    <input type='text' name='nickName' class='form-control' ng-model='mother.nickName'/>
                </div>

                <div class='col-md-6'>
                    <label>Birthdate</label>
                    <input type='date' name='birthDate' ng-required='true' class='form-control' ng-model='mother.birthdate'/>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-md-6'>
                    <label>Email</label>
                    <input type='email' name='email' class='form-control' ng-model='mother.email'/>
                </div>
                <div class='col-md-6'>
                    <label>Phone</label>
                    <input type='text' name='cellPhone' ng-required='true' class='form-control' ng-model='mother.phone'/>
                </div>
            </div>


            <!-- Contact -->
            <fieldset class='margin-top-50'>
                <legend>Address</legend>
                <div class='form-group'>
                    <label>Street</label>
                    <input type='text' name='line1' ng-required='true' class='form-control' ng-model='mother.address.line1'/>
                </div>

                <div class='form-group'>
                    <label>Street 2</label>
                    <input type='text' name='line2' class='form-control' ng-model='mother.address.line2'/>
                </div>

                <div class='form-group row margin-top-20'>
                    <div class='col-md-6'>
                        <label>County</label>
                        <input type='text' name='city' class='form-control' ng-model='mother.address.county'/>
                    </div>
                </div>

                <div class='form-group row margin-top-20'>
                    <div class='col-md-6'>
                        <label>City</label>
                        <input type='text' name='city' ng-required='true' class='form-control' ng-model='mother.address.city'/>
                    </div>
                    <div class='col-md-4'>
                        <label>State</label>
                        <select ng-model='mother.address.state' ng-required='true' ng-options='st.abbreviation as st.name for st in states' class='form-control'>
                            <option value=''>Select State</option>
                        </select>
                    </div>
                    <div class='col-md-2'>
                        <label>Zip</label>
                        <input type='text' name='zip' ng-required='true' class='form-control' ng-model='mother.address.zip'/>
                    </div>
                </div>
            </fieldset>

            <fieldset class='margin-top-50'>
                <legend>Service Dates</legend>

                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Started </label>
                        <input type='text' name='serviceStart' class='form-control' ng-model='mother.serviceStartedDate'/>
                    </div>

                    <div class='col-md-6'>
                        <label>Ended</label>
                        <input type='text' name='serviceEnd' class='form-control' ng-model='mother.serviceEndedDate'/>
                    </div>
                </div>
            </fieldset>

            <!-- Children -->
            <fieldset class='margin-top-50'>
                <legend>Children</legend>

                <div class='form-group'>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Receiving Services</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="child in mother.children">
                                <td>{{ child.firstName }} {{ child.lastName }}</td>
                                <td>{{ child.gender }}</td>
                                <td>{{ child.age }}</td>
                                <td>
                                    <input type="checkbox" ng-model="child.receivingServices" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </fieldset>

            <!-- General Info -->
            <fieldset class='margin-top-50'>
                <legend>Communications</legend>

                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Request for Services Date</label>
                        <input type='date' name='requestForServices' class='form-control' ng-model='mother.communication.requestForServices.sent'/>
                    </div>

                    <div class='col-md-6'>
                        <label>Response for Services Date</label>
                        <input type='date' name='responseForServices' class='form-control' ng-model='mother.communication.requestForServices.response'/>
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Waiver Sent</label>
                        <input type='date' name='waiverSent' class='form-control' ng-model='mother.communication.waiver.sent'/>
                    </div>

                    <div class='col-md-6'>
                        <label>Waiver Response</label>
                        <input type='date' name='waiverResponse' class='form-control' ng-model='mother.communication.waiver.response'/>
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-md-2'>
                        <label>Availability</label>
                        <select ng-model='selectedAvailability'  ng-options='av.value as av.name for av in availabilityCodes' class='form-control'>
                            <option value=''>Select Availability</option>
                        </select>
                    </div>
                </div>

                <div class='form-group'>
                    <label>How did you find us?</label>
                    <textarea rows='5' ng-model='mother.howDidYouFind' class='form-control'>

                    </textarea>
                </div>

                <div class='form-group'>
                    <label>Referral Details</label>
                    <textarea rows='5' ng-model='mother.referralDetails' class='form-control'>

                    </textarea>
                </div>
            </fieldset>


            <!-- Additional Information -->
            <fieldset class='margin-top-50'>
                <legend>Additional Information</legend>
                <div class='form-group'>
                    <label>Restrictions</label>
                    <textarea rows='5' ng-model='mother.restrictions' class='form-control'>

                    </textarea>
                    <span class='help-block'>A comma separated list of restrictions ex: Allergies, Locations, etc...</span>
                </div>

                <div class='form-group'>
                    <label>Languages Spoken</label>
                    <select ng-model='selectedLanguages' multiple ng-options='lang.name for lang in langCodes' class='form-control'>

                    </select>
                </div>

                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Pediatrician</label>
                        <input type='text' name='pediatrician' class='form-control' ng-model='mother.pediatrician'/>
                    </div>

                    <div class='col-md-6'>
                        <label>Ethnicity</label>
                        <input type='text' name='ethnicity' class='form-control' ng-model='mother.ethnicity'/>
                    </div>
                </div>
            </fieldset>


            <!-- Emergency Contact -->
            <fieldset>
                <legend>Emergency Contact</legend>
                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>First Name</label>
                        <input type='text' name='erFirstName' class='form-control' ng-model='mother.emergencyContact.firstName'/>
                    </div>

                    <div class='col-md-6'>
                        <label>Last Name</label>
                        <input type='text' name='erLastName' class='form-control' ng-model='mother.emergencyContact.lastName'/>
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Email</label>
                        <input type='email' name='erEmail' class='form-control' ng-model='mother.emergencyContact.email'/>
                    </div>
                    <div class='col-md-6'>
                        <label>Phone</label>
                        <input type='text' name='erCellPhone' class='form-control' ng-model='mother.emergencyContact.phone'/>
                    </div>
                </div>
            </fieldset>

            <!-- Volunteers -->
            <fieldset>
                <legend>Volunteers</legend>
                <div class='form-group row'>
                    <div class='col-md-6'>
                        <label>Primary Volunteer</label>
                        <input name='primaryVolunteer' class='form-control' ng-model='mother.primaryVolunteer'/>
                    </div>
                </div>
            </fieldset>


            <!-- Visits -->
            <fieldset class='margin-top-50'>
                <legend>Visits</legend>

                <div class='form-group'>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Primary Volunteer</th>
                            <th>Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="visit in mother.visits">
                            <td>{{ visit.startDate }}</td>
                            <td>{{ child.volunteers[0] }}</td>
                            <td>{{  }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </fieldset>

        </div>




        <div class='form-actions'>
            <button class='btn btn-primary' ng-disabled='!isFormValid()'>Save Mother</button>
            <a class='btn btn-link margin-left-5' href="#/mothers">Cancel</a>
        </div>
    </form>
</div>
