
body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


// Login
//----------------------------
.login{
  margin-top: 30%;
  padding: $padding-content-vertical $padding-content-horizontal;
  background: $login-bg;
}