
body {
  background: #f8f8f8; //#eee4c0
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color;
  padding: $navbar-height + 20;
}

// Page
//----------------------------
.page{
  background: #fff;
  border: 1px solid #efefef;
  box-shadow: 0 0 5px rgba(0,0,0, .1);

  &.page-empty{
    background:transparent;
    border-width: 0;
    box-shadow:none;
  }
}

.page-header
{
  margin-top: 0;
}

.page-description{
  margin: 0;
  line-height: 2em;
  color: $text-muted;
}

.page-title{
  margin: 0 !important;
  font-size: 42px;
  font-weight: $font-weight-light;

}

.page-body,
.page-header{
  padding: 20px;
}

// Login
//----------------------------
.login{
  margin-top: 30%;
  padding: $padding-content-vertical $padding-content-horizontal;
  background: $login-bg;
}

// Navigation
//----------------------------
.navbar-text
{
  line-height: $line-height-computed;
}