//
// Bootstrap Overrides
// --------------------------------
.dropdown-menu > li
{
  text-align: left;

  a{ cursor: pointer; }
  .text-danger,
  .text-danger:hover{
    color: $brand-danger;
  }
}

//
// Activity Indicators
// --------------------------------
$loading-anim-border: border-c 1.25s linear 0 infinite;
$loading-anim-color: color 1.5s linear infinite;
$loading-width: 100px;

@-webkit-keyframes color{
  0%{color:#fff;}
  50%{color:transparent;}
  100%{color:#fff;}
}
@-webkit-keyframes border-c{
  0%{border-color:transparent;border-top-color:#fff;}
  25%{border-color:transparent;border-right-color:#fff;}
  50%{border-color:transparent;border-bottom-color:#fff;}
  75%{border-color:transparent;border-left-color:#fff;}
  100%{border-color:transparent;border-top-color:#fff;}
}


@mixin animation($animate)
{
  -webkit-animation:$animate;
  -moz-animation:$animate;
  -ms-animation:$animate;
  -o-animation:$animate;
  animation:$animate;
}

@mixin animation-delay($delay)
{
  -webkit-animation-delay:$delay;
  -moz-animation-delay:$delay;
  -ms-animation-delay:$delay;
  -o-animation-delay:$delay;
  animation-delay:$delay;
}


.activity-indicator{
  //good looking color: #4c7a9e;
  background: $brand-primary;
  background-color: fade($brand-primary, #4c7a9e);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20000;
  padding: 20px;
  margin-top: ((-$loading-width + 40) / 2);
  margin-left: -($loading-width + 40) / 2;
  display: none;
  text-transform: uppercase;

  &.off{
    display: none;
  }
  &.on{
    display: block;
  }
}

.activity-indicator-content{
  text-align:center;
  width:$loading-width;
  height:$loading-width;
  border:1px solid transparent;
  -webkit-border-radius:$loading-width;
  -moz-border-radius:$loading-width;
  border-radius:$loading-width;
  display:block;
  margin: auto;

  color:#fff;
  font-weight:$font-weight-xlight;

  @include animation($loading-anim-border);
}
.activity-indicator-content span{
  line-height:$loading-width;
  vertical-align: top;
  @include animation($loading-anim-color);
}
.activity-indicator-content span:nth-child(4n){
  @include animation-delay(0s);
}
.activity-indicator-content span:nth-child(10n + 1){
  @include animation-delay(.1s);
}
.activity-indicator-content span:nth-child(10n + 2){
  @include animation-delay(.2s);
}
.activity-indicator-content span:nth-child(10n + 3){
  @include animation-delay(.3s);
}
.activity-indicator-content span:nth-child(10n + 4){
  @include animation-delay(.4s);
}
.activity-indicator-content span:nth-child(10n + 5){
  @include animation-delay(.5s);
}
.activity-indicator-content span:nth-child(10n + 6){
  @include animation-delay(.6s);
}
.activity-indicator-content span:nth-child(10n + 7){
  @include animation-delay(.7s);
}
.activity-indicator-content span:nth-child(10n + 8){
  @include animation-delay(.8s);
}
.activity-indicator-content span:nth-child(10n + 9){
  @include animation-delay(.9s);
}