//
// Bootstrap Overrides
// --------------------------------
.dropdown-menu > li
{
  text-align: left;

  a{ cursor: pointer; }
  .text-danger,
  .text-danger:hover{
    color: $brand-danger;
  }
}

//
// Activity Indicators
// --------------------------------
$loading-anim-border: border-c 1.25s linear 0 infinite;
$loading-anim-color: color 1.5s linear infinite;
$loading-width: 100px;

@-webkit-keyframes color{
  0%{color:#fff;}
  50%{color:transparent;}
  100%{color:#fff;}
}
@-webkit-keyframes border-c{
  0%{border-color:transparent;border-top-color:#fff;}
  25%{border-color:transparent;border-right-color:#fff;}
  50%{border-color:transparent;border-bottom-color:#fff;}
  75%{border-color:transparent;border-left-color:#fff;}
  100%{border-color:transparent;border-top-color:#fff;}
}


@mixin animation($animate)
{
  -webkit-animation:$animate;
  -moz-animation:$animate;
  -ms-animation:$animate;
  -o-animation:$animate;
  animation:$animate;
}

@mixin animation-delay($delay)
{
  -webkit-animation-delay:$delay;
  -moz-animation-delay:$delay;
  -ms-animation-delay:$delay;
  -o-animation-delay:$delay;
  animation-delay:$delay;
}


.activity-indicator{
  //good looking color: #4c7a9e;
  background: $brand-primary;
  background-color: fade($brand-primary, #4c7a9e);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20000;
  padding: 20px;
  margin-top: ((-$loading-width + 40) / 2);
  margin-left: -($loading-width + 40) / 2;
  display: none;
  text-transform: uppercase;

  &.off{
    display: none;
  }
  &.on{
    display: block;
  }
}

.activity-indicator-content{
  text-align:center;
  width:$loading-width;
  height:$loading-width;
  border:1px solid transparent;
  -webkit-border-radius:$loading-width;
  -moz-border-radius:$loading-width;
  border-radius:$loading-width;
  display:block;
  margin: auto;

  color:#fff;
  font-weight:$font-weight-xlight;

  @include animation($loading-anim-border);
}
.activity-indicator-content span{
  line-height:$loading-width;
  vertical-align: top;
  @include animation($loading-anim-color);
}
.activity-indicator-content span:nth-child(4n){
  @include animation-delay(0s);
}
.activity-indicator-content span:nth-child(10n + 1){
  @include animation-delay(.1s);
}
.activity-indicator-content span:nth-child(10n + 2){
  @include animation-delay(.2s);
}
.activity-indicator-content span:nth-child(10n + 3){
  @include animation-delay(.3s);
}
.activity-indicator-content span:nth-child(10n + 4){
  @include animation-delay(.4s);
}
.activity-indicator-content span:nth-child(10n + 5){
  @include animation-delay(.5s);
}
.activity-indicator-content span:nth-child(10n + 6){
  @include animation-delay(.6s);
}
.activity-indicator-content span:nth-child(10n + 7){
  @include animation-delay(.7s);
}
.activity-indicator-content span:nth-child(10n + 8){
  @include animation-delay(.8s);
}
.activity-indicator-content span:nth-child(10n + 9){
  @include animation-delay(.9s);
}

//
// Breadcrumbs
// --------------------------------
$breadcrumb-bg: #e4e1db;
$breadcrumb-height: 40px;
$breadcrumb-text-size: 20px;
$breadcrumb-arrow-width: 20px;
$breadcrumb-border-size: $breadcrumb-height / 2;

$breadcrumb-bg: #e4e1db;
$breadcrumb-color: #94928e;
$breadcrumb-hover-bg: $brand-primary;
$breadcrumb-hover-color: #fff;

ul.nav-breadcrumb{
  list-style:none;
  display: inline-block;
  margin: 10px 0;

  .icon{
    font-size: 14px;
  }

  li{
    float:left;
    a, span{

      display:block;

      text-decoration: none;
      position:relative;
      height: $breadcrumb-height;
      line-height:  $breadcrumb-height;
      padding: 0 20px 0 15px;
      text-align: center;
      margin-right: 23px;
    }
    a{
      color: $breadcrumb-color;
      background: $breadcrumb-bg;
    }
    span{
      color: $breadcrumb-hover-bg;
      font-size: 1.3em;
      font-weight: 200;
      padding-left: 5px;
      letter-spacing: .5px;
    }

    &:first-child{
      a{
        padding-left:15px;

        &:before{
          @include glyphicon;
          content: "\e021";
          line-height: $breadcrumb-height;
          position: relative;
          margin: 0 -10px 0 15px;
          font-size: 16px;
          vertical-align: bottom;

          border:none;
        }
      }
    }
    &:last-child{
      a{
        padding-right:15px;

        &:after{
          border:none;
        }
      }
    }



    a{
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid $breadcrumb-bg;
        border-width:$breadcrumb-border-size 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-$breadcrumb-border-size;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:$breadcrumb-bg;
      }
      &:hover{
        background-color: $breadcrumb-hover-bg;
        color: $breadcrumb-hover-color;
        &:before{
          border-color:$breadcrumb-hover-bg;
          border-left-color:transparent;
        }
        &:after{
          border-left-color:$breadcrumb-hover-bg;
        }
      }
      //&:active{
      //  background-color: $breadcrumb-hover-bg-darken;
      //
      //  &:before{
      //    border-color:$breadcrumb-hover-bg-darken;
      //    border-left-color:transparent;
      //  }
      //  &:after{
      //    border-left-color:$breadcrumb-hover-bg-darken;
      //  }
      //}
    }
  }
}

//// Justified Steps
////-------------------------
//ul.nav-steps.nav-justified{
//  width: 100%;
//  li{
//    display: table-cell;
//    > a{display:block;}
//  }
//}