// Bootstrap Overrides
//----------------------------
$padding-base-vertical: 10px;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
//$brand-primary: #f89e00;
//$text-color: #37281e;
//$btn-primary-bg: #f89e00;

// Login
//----------------------------
$login-bg: #dedede;


// Basic Details
//----------------------------
$padding-content-horizontal:  20px;
$padding-content-vertical:    20px;