

// Bootstrap Overrides
//----------------------------
$padding-base-vertical: 10px;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$headings-font-family: 'Source Sans Pro','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;

//colors
$text-color: #555;
$headings-color: #444;

//buttons
$btn-default-color: #F89900;
$btn-default-bg: #efefef;
$btn-default-border: #dedede;

//dropdowns
$dropdown-link-hover-bg: #dedede;
