// Bootstrap Overrides
//----------------------------
$padding-base-vertical: 10px;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// Login
//----------------------------
$login-bg: #dedede;


// Basic Details
//----------------------------
$padding-content-horizontal:  20px;
$padding-content-vertical:    20px;