
    <div ng-show="isLoggedIn" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class='container'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MomsBloom</a>
            </div>
            <div class="">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-repeat='item in menu' ng-class="{active: isActive(item.url)}">
                        <a ng-href="#{{item.url}}">{{item.text}}</a>
                    </li>
                </ul>
            </div>
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show='user'>
                        <span class='navbar-text'>
                            Welcome, {{user.first}} <a class="inline-action" href="#/users/password">(change password)</a></span>

                    </li>
                    <li>

                    </li>
                    <li>
                        <a ng-click="Logout()" confirm-click="Are you sure you want to log out?" class="pull-right clickable">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
