
<form novalidate name="change-password">
    <div class='row'>
        <div class='col-md-4 col-md-offset-4'>

            <div class='login'>
                <div ng-show='errorMessage.length'>
                    <div class='alert alert-danger'>
                        {{errorMessage}}
                    </div>
                </div>
                <div class='form-group'>
                    <label class='control-label'>Current Password</label>
                    <input type='password' class='form-control' ng-required='true' ng-model='user.currentPassword'/>
                </div>
                <div class='form-group'>
                    <label class='control-label'>New Password</label>
                    <input type='password' class='form-control' ng-required='true' ng-model='user.password'/>
                </div>
                <div class='form-group'>
                    <label class='control-label'>Confirm New Password</label>
                    <input type='password' class='form-control' ng-required='true' ng-model='user.confirmPassword'/>
                </div>

                <button class="btn btn-primary" ng-click="ChangePassword()">Change Password</button>
            </div>
        </div>
    </div>
</form>
