
<div class='page-header'>
    <h1 class='page-title'>Match</h1>
    <p class='page-description'>
        This where you match a volunteer to: <strong>{{ mom.firstName }} {{ mom.lastName }}</strong>
    </p>
</div>

<div class='page-body'>
    <form name='momMatch' novalidate="" ng-submit=''>
        <!-- Name -->
        <div class='form-group row'>
            <div class='col-md-4'>
                <label>Radius</label>
                <select class="form-control"
                        ng-model="selectedRange"
                        ng-options="opt.label for opt in rangeOptions"
                        ng-change="FindWithin()">
                </select>
            </div>

            <div class='col-md-6'>
                <label></label>
            </div>
        </div>
    </form>

    <div class="list-group">
        <a ng-repeat='volunteer in volunteers' ng-controller="MatchRowCtrl"
           class="list-group-item" ng-class="{active: mom.primaryVolunteer == volunteer.email }">

            <button ng-hide="mom.primaryVolunteer == volunteer.email" ng-click="assignVolunteer(volunteer.email)" class="btn btn-small pull-right">Assign</button>
            <button ng-hide="mom.primaryVolunteer != volunteer.email" ng-click="unassignVolunteer(volunteer.email)" class="btn btn-small pull-right">Remove</button>
            <h4 class="list-group-item-heading">{{ volunteer.firstName}} {{ volunteer.lastName }}</h4>
            <p class="list-group-item-text">{{ address() }}</p>

        </a>
    </div>
</div>
