

<div class='page-header'>
    <h1 class='page-title'>Mothers</h1>
</div>

<div class='page-body'>
    <div class='clearfix list-actions text-right'>
        <a href='#/mothers/new' class='btn btn-primary'>New Mother</a>
    </div>
    <table class='table table-striped'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='mother in mothers' ng-controller="MotherRowCtrl">
            <td>
                {{mother.firstName}} {{mother.lastName}}
                <span class="text-muted" ng-show="mother.nickName">({{mother.nickName}})</span>
            </td>
            <td>{{mother.email}}</td>
            <td>{{mother.phone}}</td>
            <td>
                {{address()}}
            </td>
            <td class='text-right'>
                <a class='btn' ng-click="store()"  ng-href="#/mothers/edit/{{mother._id}}">
                    Edit
                </a>

                <a class='btn' ng-href="#/match/{{mother._id}}">
                    Match
                </a>

                <a class='btn text-danger' confirm-click='Are you sure you want to delete this mother?' ng-click='delete()'>
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
