

<div class='page-header'>
    <h1 class='page-title'>Mothers</h1>
    <p class='page-description'>
        This is a list of mom's
    </p>
</div>
<div class='page-body'>
    <table class='table table-striped'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='mom in moms'>
            <td>
                {{mom.firstName}} {{mom.lastName}}
            </td>
            <td>{{mom.age}} years old</td>
            <td>
                {{mom.address.line1}}
            </td>
            <td>
                <a class='btn'  ng-href="#/mothers/edit/{{mom._id}}">
                    Edit
                </a>

                <a class='btn' ng-href="#/match/{{mom._id}}">
                    Match
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
